<a href="https://colab.research.google.com/github/Akshay-Malwade/Play-Store-App-Review-Analysis/blob/main/Play_Store_App_Review_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

![68747470733a2f2f6173736574732e6461746163616d702e636f6d2f70726f64756374696f6e2f70726f6a6563745f3631392f696d672f676f6f676c655f706c61795f73746f72652e706e67.webp]()

### **INTRODUCTION TO DATA**

Firstly let's get to know data. Initially to have lookup over the data we need pandas library.

In [48]:
#Importing necesssary libraries
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np # linear algebra
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool
# word cloud library
from wordcloud import WordCloud

In [49]:
# Mount drive with google colab notebook
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

###**1. Loading the Playstore Dataset**

In [50]:
data = pd.read_csv('/content/drive/MyDrive/EDA Capstone -1/Play Store Data.csv') # loaded data into pandas dataframe.

In [51]:
data.info() # This shows the datatype of each feature and also we get to know if any missing values are present in each column.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [52]:
data.columns=[str(x).lower().replace(" ","_") for x in data.columns] # this will convert all feature names to lowercase.

In [53]:
data.columns # Displays all the columns from dataset.

Index(['app', 'category', 'rating', 'reviews', 'size', 'installs', 'type',
       'price', 'content_rating', 'genres', 'last_updated', 'current_ver',
       'android_ver'],
      dtype='object')

In [54]:
data.shape # displays the total no of rows and columns present in dataset.

(10841, 13)

In [55]:
type(data) # type of the variable named data

pandas.core.frame.DataFrame

In [56]:
data.head() #displays the first five instances.

                                                 app  ...   android_ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [57]:
data.tail() #displays the last five instances.

                                                 app  ...         android_ver
10836                               Sya9a Maroc - FR  ...          4.1 and up
10837               Fr. Mike Schmitz Audio Teachings  ...          4.1 and up
10838                         Parkinson Exercices FR  ...          2.2 and up
10839                  The SCP Foundation DB fr nn5n  ...  Varies with device
10840  iHoroscope - 2018 Daily Horoscope & Astrology  ...  Varies with device

[5 rows x 13 columns]

In [58]:
data.isnull().sum()

app                  0
category             0
rating            1474
reviews              0
size                 0
installs             0
type                 1
price                0
content_rating       1
genres               0
last_updated         0
current_ver          8
android_ver          3
dtype: int64

As we can explicitly see that there are 1474 missing values in rating columns. We have to fill these values with proper calculation. . But the question is how to handle the rating columns because we can not assign those as median, mean, or mode as in real life ratings are given by the customers, We are now using forward linear interpolation to fill nan values inside the rating column.

In [59]:
# Missing Value Handling using interpolate forward linear method.
data.interpolate(method='linear',limit_direction='forward',inplace=True)

In [60]:
data.isnull().sum()

app               0
category          0
rating            0
reviews           0
size              0
installs          0
type              1
price             0
content_rating    1
genres            0
last_updated      0
current_ver       8
android_ver       3
dtype: int64

As we can see that there is no Nan value present in rating column. But, there are some NaN values present in type, last_updated,current_ver,android_ver column so now we need to deal with these nan values and replace them using appropriate method.

In [61]:
# Filling NAN with suitable values
data['content_rating'].fillna(value='Everyone',inplace=True)
data['type'].fillna(value='Free',inplace=True)

### **2. Cleaning Data**
Dataset can contain missing data, numerical string value, various cues. Cleaning helps us to make data analysis in easy way.
So, Let's explore all columns one by one and check for invalid data and then clean the data accordingly.

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app             10841 non-null  object
 1   category        10841 non-null  object
 2   rating          10841 non-null  float64
 3   reviews         10841 non-null  object
 4   size            10841 non-null  object
 5   installs        10841 non-null  object
 6   type            10841 non-null  object
 7   price           10841 non-null  object
 8   content_rating  10841 non-null  object
 9   genres          10841 non-null  object
 10  last_updated    10841 non-null  object
 11  current_ver     10833 non-null  object
 12  android_ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

### **APP Column:**
Check for duplicate values in App column if any then drop those rows.

In [63]:
data['app'].value_counts() ## Returns the count of all the unique values for app column.

ROBLOX                                               9
CBS Sports App - Scores, News, Stats & Watch Live    8
Duolingo: Learn Languages Free                       7
Candy Crush Saga                                     7
ESPN                                                 7
                                                    ..
Cambridge English FC                                 1
EF-myHR                                              1
BH Patrole                                           1
Al jazeera TV                                        1
TouchPal Purple Butterfly Theme                      1
Name: app, Length: 9660, dtype: int64

In [64]:
# remove the duplicate values from the dataframe, specifying the column name in the subset parameter 
data = data.drop_duplicates(subset=['app'], keep = 'first')

In [65]:
data['app'].value_counts() # for Rechecking.

Galaxy Gift                                1
Woody Puzzle                               1
Profile w/o crop for Telegram              1
The TK-App - everything under control      1
MailChimp - Email, Marketing Automation    1
                                          ..
FH Dortmund FB4                            1
CX Capture                                 1
Kik                                        1
Elifba Quran Learning Game                 1
TouchPal Purple Butterfly Theme            1
Name: app, Length: 9660, dtype: int64

In [66]:
# Recheck the shape of the data to validate the updation.
data.shape

(9660, 13)

### **Category Column:**
Check for unique categories.

In [67]:
data['category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

As we can see 1.9 is wrong category present in dataset which we is invalid.So, Need to check the observation entry for that category.

In [68]:
data[data.category == '1.9']

                                           app category  ...  current_ver android_ver
10472  Life Made WI-Fi Touchscreen Photo Frame      1.9  ...   4.0 and up         NaN

[1 rows x 13 columns]

So, Here we got the index position for that particular wrong entry.
So, lets remove it.

In [69]:
# remove the row with the specified index; axis 0 implies along the rows; axis 1 along the columns
data=data.drop([10472],axis=0)

In [70]:
data.shape

(9659, 13)

## Rating Column:
Check for valid rating values.

In [71]:
data['rating'].describe() # statistical summary of the rating column.

count    9659.000000
mean        4.174775
std         0.536124
min         1.000000
25%         4.000000
50%         4.300000
75%         4.500000
max         5.000000
Name: rating, dtype: float64

As we have seen descriptive summery of rating column so it has well normally distributed data.

### **Review Column:**
Check for any non numeric values if any replace it and convert it to a numeric column

In [72]:
# displays frequency measures for a non-numerical column
data.reviews.describe()    # The datatype for the reviews column is string

count     9659
unique    5330
top          0
freq       593
Name: reviews, dtype: object

In [73]:
# check for any non numeric value 
data.reviews.str.isnumeric().sum()

9659

In [74]:
# convert the 'Review' column to numeric
data.reviews=pd.to_numeric(data.reviews)

In [75]:
# statistical summary of the specified numerical variable
data.reviews.describe()

count    9.659000e+03
mean     2.165926e+05
std      1.831320e+06
min      0.000000e+00
25%      2.500000e+01
50%      9.670000e+02
75%      2.940100e+04
max      7.815831e+07
Name: reviews, dtype: float64

So, Here we can observe that the data type has changed to float. And hence, we are able to see complete statistical summary of review column.

### **Size Column:**

In the 'Size' column we have the values as '20M' and '10K' which represents the size of app in MB and KB respectively. So replace 'M' and 'K' with their equivalent numeric values in bytes.

In [76]:
data['size']

0                       19M
1                       14M
2                      8.7M
3                       25M
4                      2.8M
                ...
10836                   53M
10837                  3.6M
10838                  9.5M
10839    Varies with device
10840                   19M
Name: size, Length: 9659, dtype: object

In [77]:
#get the count/frequency of all the unique values of the specified column
data['size'].value_counts()

Varies with device    1227
11M                    182
12M                    181
14M                    177
13M                    177
                      ...
714k                     1
429k                     1
728k                     1
34k                      1
203k                     1
Name: size, Length: 461, dtype: int64

In [78]:
data['size']

0                       19M
1                       14M
2                      8.7M
3                       25M
4                      2.8M
                ...
10836                   53M
10837                  3.6M
10838                  9.5M
10839    Varies with device
10840                   19M
Name: size, Length: 9659, dtype: object

In [79]:
# replace all the 'Varies with device' with 0
data['size']= data['size'].apply(lambda x: x.replace('Varies with device','0') if 'Varies with device' in x else x)

# replace all the 'k' representing thousand
data['size'] = data['size'].apply(lambda x: x.replace('k','') if 'k' in x else x)

# replace all the 'M' representing Million with 3 zeroes
data['size'] = data['size'].apply(lambda x: float(x.replace('M',''))*1024 if 'M' in x else x)

In [80]:
# convert to float datatype
data['size'] = data['size'].apply(lambda x: float(x))

In [83]:
data['size']

0        19456.0
1        14336.0
2         8908.8
3        25600.0
4         2867.2
          ...
10836    54272.0
10837     3686.4
10838     9728.0
10839        0.0
10840    19456.0
Name: size, Length: 9659, dtype: float64

In [85]:
# statistical summary of the specified numerical variable
data['size'].describe()

count      9659.000000
mean      18231.394834
std       22011.410257
min           0.000000
25%        2969.600000
50%        9318.400000
75%       25600.000000
max      102400.000000
Name: size, dtype: float64

In [86]:
data=data.rename(columns={'size':'size_in_KB'})   # rename the Size column to Size_in_KB

### **Installs column:**

The Installs column shows the number of installations for an app. The values consists of '+' and ',' characters. So remove '+' and ',' present in Installs column and convert it to numeric.

In [87]:
data.installs

0            10,000+
1           500,000+
2         5,000,000+
3        50,000,000+
4           100,000+
            ...
10836         5,000+
10837           100+
10838         1,000+
10839         1,000+
10840    10,000,000+
Name: installs, Length: 9659, dtype: object

In [88]:
# values are given as, for example, '1,000+'. Removes the '+' sign from the end of the string
data.installs=data.installs.apply(lambda x: x.strip('+'))

# numbers have commas in them, for eg., 100,000. Removes all the commas from the strings.
data.installs=data.installs.apply(lambda x: x.replace(',',''))

# get the count/frequency of all the unique values of the specified column
data.installs.value_counts()

1000000       1417
100000        1112
10000         1031
10000000       937
1000           888
100            710
5000000        607
500000         505
50000          469
5000           468
10             385
500            328
50             204
50000000       202
100000000      188
5               82
1               67
500000000       24
1000000000      20
0               15
Name: installs, dtype: int64

In [89]:
# convert to numeric datatype
data.installs=pd.to_numeric(data.installs)

In [90]:
data['installs'].describe()

count    9.659000e+03
mean     7.777507e+06
std      5.375828e+07
min      0.000000e+00
25%      1.000000e+03
50%      1.000000e+05
75%      1.000000e+06
max      1.000000e+09
Name: installs, dtype: float64